@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(47deg, rgba(166,24,54,1) 4%, rgba(5,126,168,1) 63%);
  color: #131313;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: 'Raleway', sans-serif;
  margin: 5px 0;
  font-weight: 900;
  font-size: 28px;
  text-align: center;
}
input {
  transition: 0.5s ease-in-out;
  margin: 10px 0;
  font-size: 18px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.11);
  border: none;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  margin: 35px 0;
}
button {
  margin: 5px;
  padding: 10px;
  border: none;
  font-size: 18px;
  transition: 0.5s ease-in-out;
}
label {
  font-size: 12px;
}
form {
  height: 20%;
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 370px;
  margin: 5px auto;
}

#focusTime, #breakTime{
  background:transparent;
  border-bottom: 1px solid black;
}

#focusTime:focus, #breakTime:focus{
 outline: none;
 border-bottom: 1px solid #65e0db;
 transition: 0.8s;
}

#focusTime:hover, #breakTime:hover{
  outline: none;
  
 }

form button {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight:300;
  color:#c7ecea;
  background: transparent;
  text-align:center;
  transition: all 0.2s;
}

form button:hover {
  background-color:rgba(78,182,178,0.4290091036414566);
}
.start, .break, .reset, .pause,.resume {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight:300;
  color:#c7ecea;
  background: transparent;
  text-align:center;
  transition: all 0.2s;
}

.start:hover,.break:hover,.reset:hover,.pause:hover,.resume:hover  {
  background-color:rgba(29,142,181,0.38699229691876746);
}

.clock {
  padding: 3px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 30%;
  font-size: 24px;
  color: #c7ecea;
}
.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-ring__circle {
  transition: 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: rgba(38,198,191,0.7511379551820728);
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

.main-footer{
  color: rgb(33, 33, 34);
  background: transparent;
  margin-top: 40px;
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: space-between
}

.footer-text{
  padding: 20px;
  font-size: 25px;
}

.footer-icons{
  padding: 20px;
  width: auto;
  font-size:  xx-large;
}

.footer-icons i{
  color: rgb(33, 33, 34);
  padding: 15px;

}

.danger {
  stroke: rgb(243, 17, 28);
  animation: pulse 0.9s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: rotate(-90deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) scale(1.05);
  }
  75% {
    transform: rotate(-90deg) scale(0.8);
  }
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-areas:
      "head head"
      "clock form"
      "btns ji";

    
  }
  .btn-group {
    grid-area: btns;
    justify-content: center;
  }
  .clock {
    grid-area: clock;
    height: 100%;
  }
  h1 {
    grid-area: head;

    align-self: center;
  }
  form {
    align-self: center;
    justify-self: center;
    grid-area: form;
    width: 50%;
    justify-content: space-around;
  }

}

@media screen and (max-width: 375px) {
  form {
    height: 40%;
  }

  .footer-text{
    padding: 20px;
    font-size: 20px;
}

.footer-icons{
    padding: 20px;
    width: auto;
    font-size:  x-large;
}
}

.save_message{
  animation: opacityOnAndOff 3s normal forwards;
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  text-align:center;
  margin-top: 25px;
  font-size: 15px;
}

@keyframes opacityOnAndOff {
  0% {
      opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
